.principal {
    border-radius: 15px;
}

#footer {
    background-image: url(https://img.freepik.com/vector-gratis/patron-fondo-cine_1061-522.jpg);
    text-align: center;
    font-size: 25px;
}